<h1>
    Login
</h1>

<form action="/Home/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">go</button>
</form>