<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.pvscan.mobile">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
  
	<application android:label="PVScan.Mobile.Android" android:theme="@style/MainTheme">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBKW3rN4REx9p3ExKYIjJF_pX964a14HH4" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
  </application>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
  <queries>
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService" />
    </intent>
  </queries>

  <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />
</manifest>